:root {
  --marquee-width: 80vw;
  --marquee-height: 15vh;
  --marquee-elms-displayed: 5;
  --marquee-elm-width: calc(
    var(--marquee-width) / var(--marquee-elms-displayed)
  );
  --marquee-duration-animation: calc(var(--marquee-elements) * 3s);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.typewriter-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid black;
  align-items: center;
}
