*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.typewriter-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid black;
  align-items: center;
}
